/******************************
GLOBAL STYLES
******************************/
*{
    font-family: 'Gill Sans', sans-serif
}

body {
    background-color: #FFF3D9;
}

nav{
    height: 80px;
    background-color: #DC4731;
    color:#FFF3D9;
    font-size: 70px;
    white-space: nowrap;
    width:100%;
}

.navbar-brand{
    color: #FFF3D9;
    font-size: 60px;
}

h1{
    font-size: 50px;
}

p, h1, h2 {
    color: black;
}

.page-title{
    font-size: 40px;
    font-weight: 600;

}

.title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/******************************
LIST ALL PAGE
******************************/
.add-new-contact-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin-right: 40px; 
}


.delete-button{
    width: 250px;
    height: 50px;
    background-color: red;
    color: white;
    border-radius: 40px;
    border: 1px solid white;
    font-size: 20px;
    margin-top: 40px;
}

.delete-button:hover{
    border: 1px solid red;
    background-color: white;
    color: red;
    
}

.contact-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}

.contact {
    display: flex;
    flex-direction: column;
    border: 1px solid  #DC4731;
    background-color: #faf5ea;
    width: 400px;
    height: 200px;
    margin: 20px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.name {
    font-size: 30px;
}

.details {
    font-size: 20px;
    margin: 0px;
}

/******************************
ADD CONTACT PAGE
 ******************************/
 .form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.form-field {
    width: 400px;
    border-radius: 40px;
}

.back-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin-left: 40px; 
}

.back-button{
    width: 150px;
    height: 50px;
    background-color: blue;
    color: white;
    border-radius: 40px;
    border: 1px solid white;
    font-size: 20px;
    margin-top: 40px;
}

.back-button:hover{
    border: 1px solid blue;
    background-color: white;
    color: blue;
}

 .button-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.submit-button{
    width: 100%;
    height: 50px;
    background-color: green;
    color: white;
    border-radius: 40px;
    border: 1px solid white;
    font-size: 20px;
    margin-top: 40px;
}

.submit-button:hover{
    border: 1px solid green;
    background-color: white;
    color: green;
}

.genre-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid red;
}

.row {
    text-align: center;
}